{% extends "disastermanagement/layout.html" %}
{% block body %}
{% load static %}
<head>
    <title>AidQuest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<body style="background:#C3DBC5;">
<div class="container">
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" style="height:72px; background:#FCF7FF">
  <div class="container-fluid">
    <a class="navbar-brand" style="margin-left:10px;"><img src="{% static "img/logo.png" %}" height=70 width=70></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="padding-left:20px;">
        <div class="navbar-nav ml-auto">
            <li class="nav-item active" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'index'%}">Home  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'about'%}">About  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'donate'%}">Donate  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'volunteer'%}">Volunteer  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'floods'%}" style="font-weight:bold">Disaster Preparedness  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'help'%}" style="color:red; font-weight:bold">Get Help  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'contact'%}">Contact Us  </a>
            </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
</div><br><br><br>
    {% comment %} sidebar {% endcomment %}
    <a href="{%url 'floods' %}">Floods</a>
    <a href="{%url 'droughts'%}">Droughts</a>
    <a href="{%url 'cyclones'%}">Cyclones</a>
    <a href="{%url 'earthquakes'%}">Earthquakes</a>
    <a href="{%url 'covid'%}">Covid-19</a>
    <p>A drought is a period of time when an area or region experiences below-normal precipitation. The lack of adequate precipitation, either rain or snow, can cause reduced soil moisture or groundwater, diminished stream flow, crop damage, and a general water shortage. Droughts are the second-most costly weather events after hurricanes.

Unlike with sudden weather events such as hurricanes, tornadoes, and thunderstorms, it is often difficult to pinpoint when a drought has started or when it has ended. The initial effects of a drought may be difficult to identify right away, so it may take weeks or months to determine that a drought has started. The end of a drought is hard to identify for the same reason. A drought may last for weeks, months, or even years. Sometimes, drought conditions can exist for a decade or more in a region. The longer a drought lasts, the greater the harmful effects it has on people.

Droughts affect people in a several ways. Access to clean drinking water is essential for all life, and sources of water may dwindle during a drought. Without the presence of water, people must bring in enough water from elsewhere to survive. Water is also needed for crops to grow. When not enough precipitation falls to naturally water crops, they must be watered by irrigation. Irrigation is possible only when there is enough water in nearby rivers, lakes, or streams, or from groundwater. During a drought, these water sources are diminished and may even dry up, preventing crops from being irrigated and causing them to die off.</p>
<p>3. Preparedness strategies to drought
Drought is a climatic event that cannot be prevented, but interventions can be made to: (a) be better prepared to cope with drought; (b) develop more resilient ecosystems to recover from drought; and (c) mitigate the impacts of droughts.

3.1. Preparedness strategies to drought
(a)
Geographical shifts of agricultural systems: With the expected increase of aridity in certain zones (e.g. Mediterranean Region), shifts are likely in the geographical location of the agricultural systems. Those zones that currently occur within a particular aridity class will tend to occupy the agro-ecological niche of those systems currently in a relatively more humid zone, and will themselves be substituted by systems currently in a more arid climate.

(b)
Climate-proofing rainfall-based systems: These systems are the ones most likely to come under pressure by climate change. In order to retain their productivity, these systems will need to draw inspiration from the established principles for successful dryland crop management including: retaining the soil moisture profile by reducing evaporation; using drought and heat-tolerant crops and varieties that fit the rainfall pattern (drought evasion) and conservation agriculture.

(c)
Making irrigated systems more efficient: Irrigated systems in many parts of the world including the Mediterranean Zone are already under considerable pressure to become more efficient considering their low water use efficiency (WUE). Irrigation will need to produce more with less water. There are several technical possibilities for making irrigation systems more efficient:
–
Reducing distribution losses through the modernization of existing schemes;

–
Conversion of gravity or surface irrigation schemes to pressured irrigation systems such as drip or sprinkler systems;

–
Improving the efficiency of surface irrigation systems;

–
Shifting emphasis from more water-demanding systems based on relatively low-water demanding crops e.g. sugar beet vs. sugar cane;

–
Changing crop calendars to avoid extreme heat; and

–
Increasing the use of marginal waters. Both treated sewage and brackish as an important source of irrigation water, particularly for forage crops and agro-forestry.


(d)
Expanding the role of intermediate rainfed-irrigated systems: These systems have proven their significant success in many areas where expanding the conjunctive or alternating use of rainfall and irrigation water is possible through water harvesting, both micro- and macro-catchments; supplementary irrigation; and deficit irrigation.</p>
</body>
{% endblock %}