{% extends "disastermanagement/layout.html" %}
{% block body %}
{% load static %}
<head>
    <title>AidQuest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<body style="background:#E7E7E7;">
<div class="container">
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" style="height:72px; background:#FCF7FF">
  <div class="container-fluid">
    <a class="navbar-brand" style="margin-left:10px;"><img src="{% static "img/logo.png" %}" height=70 width=70></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="padding-left:20px;">
        <div class="navbar-nav ml-auto">
            <li class="nav-item active" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'index'%}">Home  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'about'%}">About  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'donate'%}">Donate  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'volunteer'%}">Volunteer  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'floods'%}" style="font-weight:bold">Disaster Preparedness  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'help'%}" style="color:red; font-weight:bold">Get Help  </a>
            </li>
            <li class="nav-item" style="padding-left:45px;">
                <a class="nav-link" href="{%url 'contact'%}">Contact Us  </a>
            </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
</div><br>
    <div class="sidenav" style="margin-top:73px;">  
        <a href="{%url 'floods' %}">Floods</a>
        <a href="{%url 'droughts'%}" style="font-weight:bold;">Droughts</a>
        <a href="{%url 'cyclones'%}">Cyclones</a>
        <a href="{%url 'earthquakes'%}">Earthquakes</a>
        <a href="{%url 'landslides'%}">Landslides</a>
        <a href="{%url 'pandemic'%}">COVID-19</a>
    </div>
    <h2 style="text-align:center;">Droughts</h2><br>
    <div class="main" style="margin-left:180px; text-align:justify; margin-right:20px; font-size:15px;font-family: Arial,serif;">
    <img style="float: right; padding-left:30px; padding-bottom:20px;" src="{% static "img/drought.jpg" %}" width="250" />
    <p>A drought is a period of time when an area or region experiences below-normal precipitation. The lack of adequate precipitation, either rain or snow, can cause reduced soil moisture or groundwater, diminished stream flow, crop damage, and a general water shortage. Droughts are the second-most costly weather events after hurricanes.

Unlike with sudden weather events such as hurricanes, tornadoes, and thunderstorms, it is often difficult to pinpoint when a drought has started or when it has ended. <br><br>The initial effects of a drought may be difficult to identify right away, so it may take weeks or months to determine that a drought has started. The end of a drought is hard to identify for the same reason. A drought may last for weeks, months, or even years. Sometimes, drought conditions can exist for a decade or more in a region. The longer a drought lasts, the greater the harmful effects it has on people.

<br><br>Droughts affect people in a several ways. Access to clean drinking water is essential for all life, and sources of water may dwindle during a drought. Without the presence of water, people must bring in enough water from elsewhere to survive. Water is also needed for crops to grow. When not enough precipitation falls to naturally water crops, they must be watered by irrigation. Irrigation is possible only when there is enough water in nearby rivers, lakes, or streams, or from groundwater. During a drought, these water sources are diminished and may even dry up, preventing crops from being irrigated and causing them to die off.</p>
<strong>Emergency Kit</strong><br><br>
<ul>
<li>Water — two litres of water per person per day (include small bottles)<br>
<li>Food that won't spoil, such as canned food, energy bars and dried foods (replace once a year)<br>
<li>Wind-up or battery-powered flashlight (and extra batteries)<br>
<li>Wind-up or battery-powered radio (and extra batteries)<br>
<li>First aid kit<br>
<li>Extra keys for your car and house<br>
<li>Cash, travellers' cheques and change<br>
<li>Important family documents such as identification, insurance and bank records<br>
<li> Emergency plan — include a copy in your kit as well as contact information<br><br></ul>

<h5>DO'S AND DONT’S</h5><br>

<strong>Do's-</strong> <br><br>
<ul><li>Listen to radio, watch TV and read newspapers for warnings, updates and instructions. <br>
<li>Practice rainwater harvesting. <br>
<li>Repair and rejuvenate local water bodies before the rainy season.<br>
<li>Excavate deep pits to help increase groundwater table. <br>
<li>Participate in water conservation programmes.<br>
<li>Put used domestic water to use by watering grasses and plants. <br>
<li>Use a bucket instead of a shower for bathing.<br>
<li>Use wet clothes to clean and scrub floors instead of using running water. <br>
<li>Construct toilets that need less water for flushing. <br>
<li>Regularly check tanks, taps, etc. to prevent leakage.<br>
<li>Reuse water as much as possible.<br>
<li>Adapt water conservation practices in lifestyle. Follow all state and local restrictions on water use, even if you have a private well (groundwater levels are affected by drought too).<br>
<li>Encouragement of afforestation with subabul, seemaruba, casurina, and eucalyptus.<br>
<li>Promotion of bio diesel plantations like jetropha and pongomia.<br><br>
</ul>
<strong>Don’ts-</strong><br><br>
<ul>
<li>Do not waste water at all.<br>
<li>Do not cut trees and forests.<br>
<li>Do not waste rainwater collected on rooftops, etc.<br>
<li> Do not mess with traditional water sources such as ponds, annicuts, well, tanks, etc.<br>
<li>Do not use the flowing water during brushing, shaving, washing utensils, clothes, etc.<br></ul>
<br><br>



</div>
</body>
{% endblock %}